<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<body>
    <div layout:fragment="content">
        <div class="container mt-4">
            <h1>Add a reading recommendation</h1>
            <form action="#" th:action="@{/add-recommendation}" th:object="${recommendation}" method="post">
                <div class="mb-3">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label for="link">Link</label><br />
                    <input type="url" id="link" name="link" class="form-control" pattern="https?://.*" required />
                </div>

                <div class="mb-3">
                    <label for="desc">Description</label><br />
                    <textarea id="desc" name="description" class="form-control" required></textarea><br />
                </div>

                <label for="categorySelect">Category</label>
                <select class="form-select" th:field="*{category}" required>
                    <option value="" th:each="category : ${categories}" th:value="${category.id}"
                        th:text="${category.name}">Category</option>
                </select>
                <br>
                <input type="submit" value="Add" class="btn btn-primary" />
                <a href="/" class="btn btn-secondary">Cancel</a>
            </form>

        </div>
    </div>
    </div>
</body>

</html>