<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">

<body>
    <div layout:fragment="content">
        <h1>Categories</h1>
        <ul>
            <li th:each="category : ${categories}" th:text="${category.name}">Category Name</li>
        </ul>
        <div class="mt-4" th:if="${#authorization.expression('isAuthenticated()')}">
            <a th:href="@{/add-category}" class="btn btn-primary">Add a category</a>
        </div>
    </div>
</body>

</html>