<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">
<body>
    <div layout:fragment="content">
        <h1>Reading Recommendations</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Link</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="recommendation : ${recommendations}">
                    <td th:text="${recommendation.title}">Title</td>
                    <td><a th:href="${recommendation.link}" th:text="${recommendation.link}">Link</a></td>
                    <td th:text="${recommendation.description}">Description</td>
                    <td>
                        <a th:href="@{/recommendations/edit/{id}(id=${recommendation.id})}"
                            class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <form th:action="@{/recommendations/{id}/delete(id = ${recommendation.id})}" method="post">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/add-recommendation}" class="btn btn-primary">Add a reading recommendation</a>
    </div>
</body>

</html>